.service_name_1{
    font-family: "Pretendard", sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: black;
  }
  
  .service_name_2{
      font-family: "Pretendard", sans-serif;
      font-size: 26px;
      font-weight: bold;
      color: black;
  }
  
  .service_name_white{
    font-family: "Pretendard", sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: wheat;
  }
  