.Property1 {
  display: flex;
  width: 200px;
  height: 40px;
  padding: 8px 0px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Gray_1, #353535);
  background: var(--White, #FFF);
}

.Ellipse16 {
  width: 24px;
  height: 24px;
  stroke-width: 5px;
  stroke: #B2FF76;
}