//text file
@mixin Title {
  font-size: 26px;
  line-height: 38px;
}

@mixin Subtitle {
  font-size: 20px;
  line-height: 28px;
}

@mixin Body1 {
  font-size: 17px;
  line-height: 22px;
}

@mixin Body2 {
  font-size:15px;
  line-height:20px;
}

@mixin Subtext {
  font-size:13px;
  line-height:18px;
}

.Title-heavy {
  @include Title;
}

.Subtitle-bold, .Subtitle-medium {
  @include Subtitle;
}

.Body1-bold, .Body1-medium, .Body1-Regular {
  @include Body1;
}

.Body2-heavy, .Body2-bold, .Body2-medium, .Body2-Regular {
  @include Body2;
}

.Subtext-bold, .Subtext-medium, .Subtext-regular {
  @include Subtext;
}
