//text file
@mixin Title {
    font-size: 26px;
    line-height: 38px;
}

@mixin Subtitle {
    font-size: 20px;
    line-height: 28px;
}

@mixin Body1 {
    font-size: 17px;
    line-height: 22px;
}

@mixin Body2 {
    font-size: 15px;
    line-height: 20px;
}

@mixin Subtext {
    font-size: 13px;
    line-height: 18px;
}

@mixin Title-heavy {
    @include Title;
}

@mixin Subtitle-boldSubtitle-medium {
    @include Subtitle;
}

@mixin Subtitle-medium {
    @include Subtitle;
}

@mixin Body2-Regular {
    @include Body2;
}

@mixin Body1-bold {
    @include Body1;
}
@mixin Body1-medium {
    @include Body1;
}
@mixin Body1-Regular {
    @include Body1;
}

@mixin Body2-heavy {
    @include Body2;
}
@mixin Body2-bold {
    @include Body2;
}
@mixin Body2-medium {
    @include Body2;
}

@mixin Subtext-bold {
    @include Subtext;
}
@mixin Subtext-medium {
    @include Subtext;
}
@mixin Subtext-regular {
    @include Subtext;
}
